pip install flask-socketio --user
pip install flask --user
pip install eventlet --user
pip install numpy --user
pip install nltk --user
pip install tensorflow --user
pip install SpeechRecognition --user
pip install --upgrade pip setuptools wheel --user