<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Im print</title>
</head>
<body>
    <h1>Im print</h1>
    <h2 id="m46">service provider</h2>
    <p> Jonathan Gärtner</p>
    <p> Friedensstraße 35</p>
    <p> 67112 Mutterstadt</p>
    <p> Deutschland</p>
    <h2 id="m56">contact details</h2><p><strong>e-mail-adress</strong>: <a href="mailto:punctuation@web.de">punctuation@web.de</a></p>
    <p><strong>contact form</strong>: mailto:<a href="mailto:punctuation@web.de">punctuation@web.de</a></p>
    <h2 id="m153">Authorized representative</h2><p><strong>Authorized representative:</strong> Antonios Schinarakis</p>
    <h2 id="m65">Liability and copyright information</h2><p><strong>Disclaimer</strong>: The contents of this online offer have been carefully compiled according to our current state of knowledge, but are only for information purposes and have no legally binding effect, unless it is legally binding information (e.g. the imprint, the data protection declaration, general terms and conditions or cancellation instructions for consumers). We reserve the right to change or delete the contents in whole or in part, provided that contractual obligations remain unaffected. All offers are subject to change and non-binding. </p>
    <p><strong>Indications of legal infringements</strong>: Should you notice any legal violations within our Internet presence, we ask you to point these out to us. We will remove illegal contents and links immediately after becoming aware of them. </p>
    <p class="seal"><a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
</body>
</html>