<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
    <p>Privacy policy
Introduction

With the following data protection declaration we would like to inform you about the types of your personal data (hereinafter also referred to as "data") which we process, for what purposes and to what extent. The data protection declaration applies to all processing of personal data carried out by us, both in the context of providing our services and, in particular, on our websites, in mobile applications and within external online presences, such as our social media profiles (hereinafter also referred to collectively as "online offer").

The terms used are not gender-specific.

Status: January 29, 2020
Table of contents

    Introduction
    Responsible
    Overview of the processing operations
    Relevant legal bases
    Security measures
    Transmission and disclosure of personal data
    Data processing in third countries
    Use of cookies
    Contact
    Provision of the online offer and web hosting
    Plugins and embedded functions and content
    Planning, organization and auxiliary tools
    deletion of data
    Amendment and update of the privacy policy
    Rights of data subjects
    Definitions of terms

Responsible

Jonathan Gardener
Peace Road 35
67112 Mutterstadt, Germany

Authorized representatives: Antonios Schinarakis

E-mail address: punctuation@web.de

Imprint: punctation.pythonanywhere.com/imprint
Overview of the processing operations

The following overview summarises the types of data processed and the purposes of their processing, and refers to the data subjects.
Types of data processed

    inventory data (e.g. names, addresses).

    Content data (e.g. text entries, photographs, videos).

    Contact data (e.g. e-mail, telephone numbers).

    Meta/communication data (e.g. device information, IP addresses).

    Usage data (e.g. websites visited, interest in content, access times).

Categories of data subjects

    communication partner.

    Users (e.g. website visitors, users of online services).

Purposes of processing

    Provision of our online offer and user-friendliness.

    Contact requests and communication.

Applicable legal basis

In the following, we provide the legal basis of the basic data protection regulation (DSGVO), on the basis of which we process personal data. Please note that in addition to the regulations of the DSGVO, national data protection regulations may apply in your or our country of residence and domicile.

    Consent (Art. 6 para. 1 sentence 1 lit. a DSGVO) - The data subject has given his or her consent to the processing of personal data relating to him or her for one or more specific purposes.

    Performance of a contract and pre-contractual enquiries (Art. 6 para. 1 sentence 1 lit. b. FADP) - Processing is necessary for the performance of a contract to which the data subject is party or for the implementation of pre-contractual measures taken at the request of the data subject.

    Legitimate interests (Art. 6 para. 1 sentence 1 lit. f. FADP) - Processing is necessary to safeguard the legitimate interests of the controller or of a third party unless the interests or fundamental rights and freedoms of the data subject which require the protection of personal data prevail.

National data protection regulations in Germany: In addition to the data protection regulations of the Basic Data Protection Regulation, national regulations on data protection apply in Germany. These include in particular the law on protection against misuse of personal data in data processing (Federal Data Protection Act - BDSG). In particular, the BDSG contains special regulations on the right to information, the right to deletion, the right of objection, the processing of special categories of personal data, processing for other purposes and transmission as well as automated decision making in individual cases including profiling. Furthermore, it regulates data processing for the purposes of the employment relationship (Section 26 BDSG), in particular with regard to the establishment, implementation or termination of employment relationships and the consent of employees. Furthermore, state data protection laws of the individual federal states may apply.
Security measures

We take appropriate technical and organisational measures in accordance with the legal requirements, taking into account the state of the art, the implementation costs and the nature, scope, circumstances and purposes of the processing, as well as the different probabilities of occurrence and the extent of the threat to the rights and freedoms of natural persons, in order to ensure a level of protection commensurate with the risk.

We take appropriate technical and organisational measures in accordance with the legal requirements, taking into account the state of the art, the implementation costs and the nature, scope, circumstances and purposes of the processing, as well as the different probabilities of occurrence and the extent of the threat to the rights and freedoms of natural persons, in order to ensure a level of protection commensurate with the risk.

Those measures shall include, in particular, safeguarding the confidentiality, integrity and availability of data by controlling physical and electronic access to the data as well as the access, input, disclosure, safeguarding of availability and segregation of data relating to them. Furthermore, we have established procedures to ensure that data subjects' rights are exercised, data is deleted and responses to data threats are made. Furthermore, we take the protection of personal data into account as early as the development or selection of hardware, software and procedures in accordance with the principle of data protection, by designing technology and by using data protection-friendly default settings.

SSL encryption (https): To protect your data transmitted via our online offer, we use SSL encryption. You can recognize such encrypted connections by the prefix https:// in the address line of your browser.
Transmission and disclosure of personal data

Within the scope of our processing of personal data, it happens that the data is transferred to other bodies, companies, legally independent organisational units or persons or that it is disclosed to them. The recipients of this data may include, for example, payment institutions in the context of payment transactions, service providers commissioned with IT tasks or providers of services and content that are integrated into a website. In such cases we observe the legal requirements and in particular conclude appropriate contracts or agreements with the recipients of your data which serve to protect your data.
Data processing in third countries

If we process data in a third country (i.e. outside the European Union (EU), the European Economic Area (EEA)) or if the processing takes place in the context of the use of services provided by third parties or the disclosure or transfer of data to other persons, bodies or companies, this is only done in accordance with the legal requirements.

Subject to express consent or to contractual or legally required transfers, we process or allow the data to be processed only in third countries with a recognised level of data protection, including the US processors certified under the Privacy Shield, or on the basis of special guarantees, such as contractual obligations under so-called standard protection clauses of the EU Commission, the existence of certifications or binding internal data protection regulations (Art. 44 to 49 DSGVO, information page of the EU Commission: https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de ).
Use of cookies

Cookies are text files that contain data from websites or domains visited and are stored by a browser on the user's computer. A cookie is primarily used to store information about a user during or after his visit within an online offer. The stored information may include, for example, the language settings on a website, the login status, a shopping cart or the location where a video was viewed. The term "cookies" also includes other technologies that perform the same functions as cookies (e.g., when user information is stored using pseudonymous online identifiers, also known as "user IDs").

The following cookie types and functions are distinguished:

    Temporary cookies (also: session or session cookies): Temporary cookies are deleted at the latest after a user leaves an online offer and closes his browser.
    Permanent cookies: Permanent cookies remain stored even after the browser is closed. For example, the login status can be saved or preferred content can be displayed directly when the user visits a website again. The interests of users used for reach measurement or marketing purposes can also be stored in such a cookie.
    First-party cookies: First-party cookies are set by ourselves.
    Third party cookies: Third party cookies are mainly used by advertisers (so-called third parties) to process user information.
    Necessary (also: essential or imperative) cookies: Cookies can be absolutely necessary for the operation of a website (e.g. to store logins or other user input or for security reasons).
    Statistical, marketing and personalization cookies: Furthermore, cookies are usually also used in the context of range measurement as well as when the interests of a user or his or her behavior (e.g. viewing certain content, using functions, etc.) on individual web pages are stored in a user profile. Such profiles are used to show users e.g. content that corresponds to their potential interests. This procedure is also known as "tracking", i.e., following the potential interests of users. . If we use cookies or "tracking" technologies, we will inform you separately in our data protection declaration or when obtaining your consent.

Notes on legal bases: The legal basis on which we process your personal data using cookies depends on whether we ask you for your consent. If this is the case and you consent to the use of cookies, the legal basis for processing your data is the declared consent. Otherwise, the data processed with the aid of cookies will be processed on the basis of our legitimate interests (e.g. in the business operation of our online offer and its improvement) or, if the use of cookies is necessary to fulfil our contractual obligations.

General notes on revocation and objection (opt-out): Depending on whether the processing is based on consent or legal permission, you have the possibility at any time to revoke a given consent or to object to the processing of your data by cookie technologies (collectively referred to as "opt-out"). You can initially declare your objection by means of the settings of your browser, e.g. by deactivating the use of cookies (although this may also restrict the functionality of our online service). An objection to the use of cookies for online marketing purposes can also be declared by means of a variety of services, especially in the case of tracking, via the websites https://optout.aboutads.info and https://www.youronlinechoices.com/. In addition, you can receive further notices of objection in the context of the information on the service providers and cookies used.

Processing of cookie data based on consent: Before we process data within the scope of the use of cookies or have them processed, we ask users for their consent, which can be revoked at any time. Before consent has not been given, we will only use cookies that are necessary for the operation of our online service. Their use is based on our interest and the interest of the users in the expected functionality of our online offer.

    Processed types of data: Usage data (e.g. websites visited, interest in content, access times), meta/communication data (e.g. device information, IP addresses).

        Persons concerned: Users (e.g. website visitors, users of online services).

    Legal basis: Consent (Art. 6 para. 1 sentence 1 lit. a DSGVO), legitimate interests (Art. 6 para. 1 sentence 1 lit. f. DSGVO).

Contact

When contacting us (e.g. via contact form, e-mail, telephone or social media), the data of the inquiring persons will be processed to the extent necessary to answer the contact inquiries and any requested measures.

The answering of contact inquiries within the scope of contractual or pre-contractual relations is carried out in order to fulfil our contractual obligations or to answer (pre)contractual inquiries and otherwise on the basis of the legitimate interest in answering the inquiries.

    Processed data types: inventory data (e.g. names, addresses), contact data (e.g. e-mail, telephone numbers), content data (e.g. text entries, photographs, videos).

    Persons concerned: communication partners.

    Purposes of processing: contact requests and communication.

    Legal basis: Fulfilment of contract and pre-contractual enquiries (Art. 6 para. 1 sentence 1 lit. b. DSGVO), legitimate interests (Art. 6 para. 1 sentence 1 lit. f. DSGVO).

Provision of the online offer and web hosting

In order to provide our online services securely and efficiently, we use the services of one or more web hosting providers from whose servers (or servers managed by them) the online services can be accessed. For these purposes we may use infrastructure and platform services, computing capacity, storage space and database services, as well as security and technical maintenance services.

The data processed within the scope of providing the hosting offer may include all data concerning the users of our online offer, which are generated within the scope of use and communication. This regularly includes the IP address, which is necessary to be able to deliver the contents of online offers to browsers, and all entries made within our online offer or from websites.

Collection of access data and log files: We ourselves (or our web hosting provider) collect data on every access to the server (so-called server log files). Server log files may include the address and name of the web pages and files accessed, date and time of access, data volume transferred, notification of successful access, browser type and version, the user's operating system, referrer URL (the previously visited page) and, as a rule, IP addresses and the requesting provider.

The server log files can be used for security purposes, e.g. to avoid overloading the servers (especially in the case of abusive attacks, so-called DDoS attacks) and to ensure the capacity utilisation of the servers and their stability.

    Processed data types: Content data (e.g. text entries, photographs, videos), usage data (e.g. websites visited, interest in content, access times), meta/communication data (e.g. device information, IP addresses).

    Persons concerned: Users (e.g. website visitors, users of online services).

    Legal basis: legitimate interests (Art. 6 para. 1 sentence 1 lit. f. DSGVO).

Plug-ins and embedded functions and content

We include in our online offer functional and content elements that are obtained from the servers of their respective providers (hereinafter referred to as "third party providers"). These may be, for example, graphics, videos or social media buttons as well as contributions (hereinafter uniformly referred to as "content").

The integration always requires that the third party providers of such content process the IP address of the users, as without the IP address they would not be able to send the content to their browsers. The IP address is therefore required for the display of these contents or functions. We make every effort to use only such content whose respective providers use the IP address only to deliver the content. Third party providers may also use so-called pixel tags (invisible graphics, also known as "web beacons") for statistical or marketing purposes. Pixel tags" can be used to evaluate information such as visitor traffic on the pages of this website. The pseudonymous information may also be stored in cookies on the user's device and may contain technical information about the browser and operating system, websites to be referred to, the time of visit and other details about the use of our online offer, as well as being linked to such information from other sources.


Notes on legal bases: If we ask users to give their consent to the use of third party providers, the legal basis for processing data is consent. Otherwise, the users' data will be processed on the basis of our legitimate interests (i.e. interest in efficient, economic and recipient-friendly services). In this context, we would also like to draw your attention to the information on the use of cookies in this privacy policy.

Integration of third party software, scripts or frameworks (e.g. jQuery): We integrate software into our online offering that we call up from servers of other providers (e.g. function libraries that we use for the purpose of displaying or making our online offering user-friendly). The respective providers collect the IP addresses of the users and can process these for the purpose of transmitting the software to the user's browser and for security purposes, as well as for the evaluation and optimisation of their offer.

    Processed types of data: Usage data (e.g. websites visited, interest in content, access times), meta/communication data (e.g. device information, IP addresses).

    Data subjects: Users (e.g. website visitors, users of online services).

    Purposes of processing: provision of our online services and user-friendliness.

Planning, organization and auxiliary tools

We use the services, platforms and software of other providers (hereinafter referred to as "third party providers") for the purposes of organizing, managing, planning and providing our services. When selecting third-party providers and their services, we observe the legal requirements.

In this context, personal data may be processed and stored on the servers of the third party providers. This may affect various data which we process in accordance with this data protection declaration. This data may include, in particular, master data and contact details of users, data on procedures, contracts, other processes and their contents.

If users are referred to the third-party providers or their software or platforms in the course of communication, business or other relations with us, the third-party providers may process usage data and metadata for security, service optimization or marketing purposes. We therefore request that you observe the data protection notices of the respective third-party providers.

Notes on legal bases: If we ask users for their consent to use the third-party providers, the legal basis for processing data is consent. Furthermore, their use can be a component of our (pre)contractual services, provided that the use of the third party providers has been agreed within this framework. Otherwise, the users' data will be processed on the basis of our legitimate interests (i.e. interest in efficient, economical and recipient-friendly services). In this context we would also like to draw your attention to the information on the use of cookies in this data protection declaration.

    Data types processed: inventory data (e.g. names, addresses), contact data (e.g. e-mail, telephone numbers), content data (e.g. text entries, photographs, videos), usage data (e.g. websites visited, interest in content, access times), meta/communication data (e.g. device information, IP addresses).

    Persons concerned: Communication partners, users (e.g. website visitors, users of online services).

    Legal basis: Consent (Art. 6 para. 1 sentence 1 lit. a DSGVO), Fulfilment of contract and pre-contractual enquiries (Art. 6 para. 1 sentence 1 lit. b. DSGVO), Legitimate interests (Art. 6 para. 1 sentence 1 lit. f. DSGVO).

Deletion of data

The data processed by us will be deleted in accordance with the legal requirements as soon as their consent permitted for processing is revoked or other permissions cease to apply (e.g. if the purpose for processing these data ceases to apply or if they are not necessary for the purpose).

Unless the data are deleted because they are required for other and legally permissible purposes, their processing is limited to these purposes. This means that the data is blocked and not processed for other purposes. This applies, for example, to data that must be retained for reasons of commercial or tax law, or whose retention is necessary for the assertion, exercise or defence of legal claims or for the protection of the rights of another natural or legal person.

Further information on the deletion of personal data can also be provided in the individual data protection notes of this data protection declaration.
Amendment and updating of the data protection declaration
We ask you to inform yourself regularly about the content of our data protection declaration. We will adapt the data protection declaration as soon as changes in the data processing carried out by us make this necessary. We will inform you as soon as the changes make it necessary for you to cooperate (e.g. consent) or to receive other individual notification.

If we provide addresses and contact information of companies and organisations in this privacy policy, please note that the addresses may change over time and please check the information before contacting us.
Rights of the persons concerned

As data subjects, they are entitled to various rights under the DSGVO, which result in particular from Art. 15 to 18 and 21 DSGVO:

    Right of objection: You have the right to object at any time, for reasons arising from your particular situation, to the processing of personal data relating to you which is carried out on the basis of Art. 6 paragraph 1 letter e or f FADP; this also applies to profiling based on these provisions. If the personal data concerning you are processed for the purpose of direct marketing, you have the right to object at any time to the processing of personal data concerning you for the purpose of such marketing, including profiling, insofar as it is linked to such direct marketing.
    Right to withdraw consent: You have the right to withdraw any consent given at any time.
    Right of access: You have the right to obtain confirmation as to whether data in question is being processed and to obtain information about such data and to obtain further information and copies of the data in accordance with the law.
    Right of rectification: You have the right to request the completion of data concerning you or the rectification of inaccurate data concerning you in accordance with the law.
    Right to erasure and limitation of processing: You have the right to request that data concerning you be immediately erased or, alternatively, that the processing of such data be limited in accordance with the law.
    Right to data transferability: You have the right to receive data concerning you which you have provided to us in a structured, common and machine-readable format in accordance with the legal requirements or to request that it be transferred to another responsible party.
    Complaints to the supervisory authority: You also have the right, in accordance with the statutory provisions, to lodge a complaint with a supervisory authority, in particular in the Member State of your habitual residence, your place of work or the place of the alleged infringement, if you believe that the processing of personal data relating to you is in breach of the DPA.

This section provides an overview of the terms used in this privacy policy. Many of the terms are taken from the law and defined above all in Art. 4 DSGVO. The legal definitions are binding. The following explanations, on the other hand, are primarily intended to help you understand them. The terms are sorted alphabetically.

    Personal data: "Personal data" means any information relating to an identified or identifiable natural person (hereinafter referred to as "data subject"); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier (e.g. a cookie) or one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
    Controller: "Controller" shall mean the natural or legal person, public authority, agency or any other body which alone or jointly with others determines the purposes and means of the processing of personal data.
    Processing: "processing" shall mean any operation or set of operations which is performed upon personal data, whether or not by automatic means. The term is broad and covers virtually all processing of data, whether it be collection, analysis, storage, communication or deletion.

Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</p>
</body>
</html>