pip3 install flask-socketio --user
pip3 install flask --user
pip3 install eventlet --user
pip3 install SpeechRecognition --user
pip3 install --upgrade pip setuptools wheel --user
pip3 install --upgrade pocketsphinx --user
pip3 install numpy --user
pip3 install nltk --user
pip3 install tensorflow --user